DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
PASSWORD_HASHER_SECRET=QltDSmVBMDhHKENWcjFgN3J1Vmw=
JWT_SECRET=KGpBak58MkMsZ0JlS20zOzRbSGo=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=PGJwbCE+WiJILGZ+K1ZqU24mIX5tVH0=
GITHUB_CLIENT_ID=secret
GITHUB_CLIENT_SECRET=secret
AUTH_ADMIN_EMAIL=secret
AUTH_ADMIN_PASSWORD=secret
# CHOOSE EITHER REDIS_URL OR REDIS_HOST, REDIS_USERNAME, REDIS_PASSWORD, REDIS_PORT
REDIS_HOST=localhost
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379