ENV=development
DATABASE_PRISMA_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
DATABASE_URL_NON_POOLING="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
S3_REGION=fr-par
S3_ACCESS_KEY_ID=secrey
S3_SECRET_ACCESS_KEY=secret
S3_ENDPOINT=s3.fr-par.scw.cloud
ENABLE_S3_SERVICE=false